@use '@scss/variables' as *;

.header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
  background-color: var(--bg2);
  padding: 1rem 0;
  border-bottom: 1px solid $disabled;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &-logo {
    width: 40px;
  }
}
