@use './variables' as *;

:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color: var(--text);
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #{$bg-dark};
  --bg2: #{$bg2-dark};
  --text: #{$text-dark};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --error: #{$error};

  @media (prefers-color-scheme: light) {
    --bg: #{$bg-light};
    --bg2: #{$bg2-light};
    --text: #{$text-light};
  }
}

html,
body,
#root {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

.body {
  display: flex;
  font-weight: 300;
}

#root {
  margin: 0 auto;
}

a {
  color: var(--primary);
  text-decoration: none;
}
