.book {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 2rem;
  gap: 1rem;
  max-width: 800px;
  width: 100%;

  &-header {
    background: var(--bg2);
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &-back {
    background: var(--primary);
    border: 0;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 4px;
    line-height: 1;
  }

  &-title {
    font-size: 1.5rem;
    text-align: center;
    flex: 1;
  }

  &-content {
    background: var(--bg2);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }

  &-cover {
    width: 200px;
  }

  &-poster {
    border-radius: 4px;
  }

  &-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  &-label {
    font-weight: 700;
  }

  &-link {
    a {
      color: var(--primary);
      text-decoration: none;
      font-size: 0.9rem;
    }
  }

  &-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--secondary);
  }
}
